.app {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100vh;
  min-height: 100vh;
  width: 100vw;
  min-width: 100vw;
  overflow: hidden;

  /*  background: -webkit-linear-gradient(top, #152c3e, #37618a); */
  background: #150c21;
  color: white;
}

.cursor_wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cursor {
  --radius: 80px;
  width: calc(2 * var(--radius));
  height: calc(2 * var(--radius));
 /*  background-color: gray; */

  background: radial-gradient(circle at 20% 70%, var(--c1), var(--c2));
  border-radius: 50%;
  position: relative !important;
  border: 2px solid green;
}

.point_1 {
  width: 50%;
  height: 2px;
  background: transparent;
  position: absolute;
  top: calc(50% - 1px);
  transform-origin: right;
}

.point_2 {
  width: 50%;
  height: 2px;
  background: transparent;
  position: absolute;
  top: calc(50% - 1px);
  transform-origin: right;
}

.point_1:before,
.point_2:before {
  content: "";
  position: absolute;
  width: 1vmin;
  height: 1vmin;
  background: transparent;
  border-radius: 50%;
  top: -10px;
  left: 0px;
}

.animationRev {
  animation: circleAnimationRev 2s linear forwards;
}

.animation {
  animation: circleAnimation 2s linear forwards;
}

.animationRev:before {
  background: white;
}
.animation:before {
  background: white;
}

@keyframes circleAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes circleAnimationRev {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}
