h1 {
  font-weight: 200;
  font-size: clamp(4rem, 10vw, 9rem);
  line-height: 1.2;
  letter-spacing: -0.03em;
  margin: 0;
}

h2 {
  font-weight: bold;
  font-size: clamp(2rem, 7vw, 7rem);
  line-height: 1.2;
  letter-spacing: -0.03em;
  margin: 0;
  text-align: center;
}

.default-button {
  border: none;
  width: 18rem;
  height: 6.2rem;
  margin: 3rem auto;
  color: #705df2;
  border-radius: var(--default-border-radius);
  background-color: var(--white);
  border-bottom: solid 4px #69a09f;
  border-left: solid 4px #69a09f;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  font-size: 1.8rem;
  font-weight: bold;
  box-shadow: -1px -1px 0px rgba(255, 255, 255, 0.1) inset;

  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.default-button:hover {
  border-bottom: solid 3px #69a09f;
  border-left: solid 3px #69a09f;
  border-right: solid 1px #ccc;
  border-top: solid 1px #ccc;
  cursor: pointer;
}

input {
  line-height: 2;
  padding: 1.5rem;
  border: 1px solid #ccc;
  border-radius: var(--default-border-radius);
  margin-bottom: 1rem;
  width: 1.8rem;
  box-sizing: border-box;
  color: #150c21;
  font-size: 1.5rem;
  text-align: center;
}

input,
input::-webkit-input-placeholder {
  line-height: 2;
  color: #150c21;
  font-weight: bold;
}

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
}

::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
}

:-ms-input-placeholder {
  text-align: center;
}
