@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-4px);
  }
}

#cloud1 {
  z-index: 2;
  position: absolute;
  top: 10%;
  right: 4%;
  animation: bounce 2s ease-in-out 0s infinite alternate;
}

#cloud2 {
  z-index: 1;
  position: absolute;
  top: 22%;
  right: 16%;
  animation: bounce 3.5s ease-in-out 2s infinite alternate;
}

#ground {
  z-index: 1;
  width: 100%;
  height: 20%;
  position: absolute;
  bottom: 0;
  background: #879759;
}

.trees {
  width: 100%;
  height: 130px;
  z-index: 4;
  position: absolute;
  bottom: 20%;
  margin-bottom: -100px;
}
