.winner {
  display: grid;
  grid-template-areas: "layer";
  place-items: center;
  animation: rotate 1s linear infinite;
  position: relative;
}

.info_winner {
  position: absolute;
  top: 25%;
  left: 32%;
  z-index: 2;
  font-size: 54px;
}

.point_winner {
  position: relative;
  grid-area: layer;
  width: 12px;
  height: 12px;

  border-radius: 50%;

  background-image: linear-gradient(43deg, #4158d0 0%, #ffcc70 100%);

  --radius: 74px;

  --d: calc(var(--i) / 6);

  --r-offset: -0.25turn;

  --r-amount: 1turn;

  --r: calc((var(--r-amount) * var(--d)) + var(--r-offset));

  transform: rotate(var(--r)) translate(var(--radius));
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}
